<h1 class="text-center">連絡帳の編集</h1>
<% if current_user.id == @note.user.id %>
  <%= render "form" %>
  <%= link_to "連絡帳一覧へ", notes_path, class: "btn btn-block btn-success mt-3" %>
<% else %>
  <%= redirect_to root_path %>
<% end %>
