<div class="d-flex justify-content-center">
  <div class="header-width stitch font text-center mb-4">うけつけ
  </div>
</div>
<div id="card-reception">
  <%= render "reception_card"%>
</div>
<%= render 'layouts/footer-menus' %>
