<div class="d-flex justify-content-center">
  <div class="stitch font text-center mb-4 w-50">
    今日の利用状況
  </div>
</div>
<table class="osare-table osare-hikaku col2t text-center">
  <thead>
    <tr>
      <th class="bgc-p">日付</th>
      <th class="bgc-b">利用状況</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%=l @reception.arrive %></th>
      <td>
        <% if @reception.arrive.present? && @reception.leave.nil? %>
          現在利用中
        <% elsif @reception.present? && @reception.leave.present? %>
          現在送迎中
        <% else %>
          利用予定あり
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="osare-table osare-hikaku col2t text-center mt-3">
  <thead>
    <tr>
      <th class="bgc-y">来所時間</th>
      <th class="bgc-g">退所時間</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="py-4"><%=l @reception.arrive, format: :long %></td>
      <td class="py-4">
        <% if @reception.leave.present? %>
          <%=l @reception.leave, format: :long %>
        <% else %>
          ---
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= link_to "もどる", root_path, class: "btn btn-block btn-primary mt-3 w-75" %>
</div>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-warning btn-block w-75 mt-3" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-exclamation-triangle"></i>　使い方・説明　<i class="fas fa-exclamation-triangle"></i>　
  </button>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">今日の利用状況の説明</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        このページでは以下の４点が確認できます<br>
        ・利用日の日付<br>
        ・利用開始時間<br>
        ・利用終了時間<br>
        ・利用状況<br>
        ※利用予定あり、利用中、送迎中のどれかが表示されます
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
