<div class="d-flex justify-content-center">
  <div class="stitch font text-center mb-4 w-50">
    今日の利用状況
  </div>
</div>
<table class="osare-table osare-hikaku col4t text-center">
  <thead>
    <tr>
      <th>日付</th>
      <th>来所時間</th>
      <th>退所時間</th>
      <th>利用の有無</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%=l @reception.arrive %></th>
      <td><%=l @reception.arrive, format: :long %></td>
      <td>
        <% if @reception.leave.present? %>
          <%=l @reception.leave, format: :long %>
        <% else %>
          ---
        <% end %>
      </td>
      <td>
        <% if @reception.arrive.present? && @reception.leave.nil? %>
          現在利用中
        <% elsif @reception.present? && @reception.leave.present? %>
          現在送迎中
        <% else %>
          利用予定あり
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= link_to "もどる", root_path, class: "btn btn-block btn-primary mt-3 w-50" %>
</div>
