<div class="d-flex justify-content-center">
  <div class="stitch font text-center mb-4">
    　今日の利用状況　
  </div>
</div>
<table class="osare-table osare-hikaku col2t text-center mt-4">
  <thead>
    <tr>
      <th class="bgc-p">日付</th>
      <th class="bgc-b">利用状況</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%=l @reception.arrive %></th>
      <td>
        <% if @reception.arrive.present? && @reception.leave.nil? %>
          現在利用中
        <% elsif @reception.present? && @reception.leave.present? %>
          現在送迎中
        <% else %>
          利用予定あり
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="osare-table osare-hikaku col2t text-center mt-3">
  <thead>
    <tr>
      <th class="bgc-y">来所時間</th>
      <th class="bgc-g">退所時間</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="py-4"><%=l @reception.arrive, format: :long %></td>
      <td class="py-4">
        <% if @reception.leave.present? %>
          <%=l @reception.leave, format: :long %>
        <% else %>
          ---
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'layouts/footer-menus' %>
