<p>うけつけ</p>
<% if @reception.nil? %>
  <p>OK</p>
<% elsif @reception.leave.nil? %>
  <%= @reception.arrive %>
  <p>OK</p>
<% else %>
  <%= @reception.arrive %>
  <%= @reception.leave %>
  <p>OK</p>
<% end %>
