<div class="d-flex justify-content-center">
  <div class="stitch font text-center mb-4 header-width">
    　月間利用日　
  </div>
</div>
<div class ="calendar mt-4 mb-3">
  <%= form_with url: calendars_path, method: :put, local: true do |form| %>
    <input id ="edit_calendar" type="text" name="calendar[date]" placeholder="利用日を選んでください" readonly="readonly" >
    <%= form.submit "送信", class: "calendar-button calendar-submit px-5 font font-size px-3" %>
  <% end %>
</div>
<%= render 'layouts/footer-menus' %>
