<% if user_signed_in? %>
  <div class="button-container">
    <div class="index-button">
      <%= link_to "うけつけ",receptions_path, class: "button-text" %>
    </div>
    <div class="index-button">
      <%= link_to "連絡帳",notes_path, class: "button-text" %>
    </div>
    <div class="index-button">
      <%= link_to "月間利用",edit_calendars_path, class: "button-text" %>
    </div>
    <div class="index-button">
      <%= link_to "利用状況",receptions_path, class: "button-text" %>
    </div>
  </div>
<% end %>
