<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">月間利用日投稿機能の使い方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        【利用日の投稿】<br>
        １５日を利用したい場合<br>
        <div class="d-flex align-items-center">
          <div>カレンダーの</div>
          <div class="modal-circle">15</div>
          <div>日をタップ</div>
          <div class="modal-circle-selected">15</div>
          <div>して送信</div>
        </div>
        ※複数選択も可能<br>
        <br>
        【利用日の取り消し】<br>
        １５日を取り消したい場合<br>
        <div class="d-flex align-items-center">
          <div>カレンダーの</div>
          <div class="modal-circle-selected">15</div>
          <div>日をタップ</div>
          <div class="modal-circle">15</div>
          <div>して送信</div>
        </div>
        ※複数選択も可能<br>
        <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
        </div>
      </div>
    </div>
  </div>
