<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">月間利用日投稿機能の使い方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ①下記カレンダーから利用日を選んでタップ<br>
        選択された日付は下記のように色が変化します<br>
        <a class="modal-circle" href="~">
          <span>15</span>
        </a>
        <br>
        <br>
        ②送信ボタンをタップ<br>
        <br>
        ※利用日の変更は再度タップすることで変更可能<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>
