<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">月間利用日投稿機能の使い方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        【利用日の投稿】<br>
        カレンダーから利用日を選んでタップ<br>
        <div class="d-flex align-items-center">
          <div>タップ前</div>
          <div class="modal-circle">15</div>
          <div>タップ後</div>
          <div class="modal-circle-selected">15</div>
          <div>色が変化します</div>
        </div>
        <br>
        【利用日の取り消し】<br>
        カレンダーから利用日を選んでタップ<br>
        <div class="d-flex align-items-center">
          <div>タップ前</div>
          <div class="modal-circle-selected">15</div>
          <div>タップ後</div>
          <div class="modal-circle">15</div>
          <div>色が変化します</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>
