<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">連絡帳一覧の説明</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-book-open"></i>をタップで連絡帳を閲覧<br>
        <br>
        <i class="fas fa-exchange-alt"></i>をタップで連絡帳を編集<br>
        <br>
        <i class="far fa-times-circle"></i>をタップで連絡帳を削除<br>
        <br>
        <i class="far fa-edit"></i>をタップで連絡帳の作成<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>
