<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">今日の利用状況の説明</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        下記４点が確認可能<br>
        <br>
        ・利用日<br>
        ・利用状況<br>
        ・利用開始時間<br>
        ・退所時間<br>
        <br>
        ※利用状況では『利用予定あり』、『利用中』、『送迎中』のいずれかが表示
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>
