/*
*= require flatpickr
*= require flatpickr/dist/themes/material_blue
*= require_tree .
*= require_self
*/
@import "bootstrap/scss/bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// ↓ヘッダーcss

header {
  overflow: hidden;
}

.navbar-brand {
  font-size: clamp(12px, 3vw, 20px);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

#nav {
  list-style: none;
  display: flex;
  padding: 0 0 12px 0;
  justify-content: center;
  align-items: center;
}

#nav li {
  width: 140px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  white-space: nowrap;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 20px;
  font-size: clamp(12px, 3vw, 20px);
}
//  ↑ここまでヘッダー
// ↓フッター
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 105px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

// ステッチ設定
.stitch {
  font-size: 15px;
  color: black;
  padding: 0.2em 0.5em;
  margin: 1em 0 0.5em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  height: 30px;
}
.stitch-blue {
  font-size: 20px;
  padding: 0.2em 0.5em;
  margin: 1em 0 0.5em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.stitch-blue p {
  margin: 0;
  padding: 0;
}

// フラッシュ設定
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
// フォント設定
.font {
  font-family: "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", sans-serif;
}
.font-size {
  font-size: clamp(12px, 3vw, 20px);
}

@media screen and (min-width: 768px) {
  .br-sp {
    display: none;
  }
}

.pagination {
  justify-content: center;
}

.footer-menus {
  .home-btn {
    background-color: #55acee;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    width: clamp(100px, 18vw, 150px);
    outline: 0;
  }
  .back-btn {
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    width: clamp(100px, 18vw, 150px);
    outline: 0;
  }

  .how-to-btn {
    background-color: #eb4654;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: clamp(100px, 18vw, 150px);
    outline: 0;
  }
}

.line {
  border-bottom: 3px dashed #ffffff;
  padding-bottom: 5px;
}

.submit-button {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #fff;
  border-radius: 15px;
  width: clamp(300px, 54vw, 450px);
  border: none;
}
.submit-button:hover,
.submit-button:active {
  color: #fff;
  text-decoration: none;
}

.centering {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pagination > li > a {
  border: none !important; /*枠線をなくす*/
  color: #696969 !important; /*文字の色を変える*/
  width: 36px;
  text-align: center;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #d6ebff !important; /*背景の色を変える*/
  border-radius: 50% !important; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 50% !important; /*角を丸くする*/
}

.modal-circle-selected {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #42a5f5;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.modal-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  border: dashed 1px black;
  border-radius: 50%;
  color: black;
  text-align: center;
  font-size: 12px;
}

.modal-font {
  font-size: 12px;
}

.circle-font {
  font-size: 5px;
}

.calendar-width {
  width: 308px;
}

.space {
  width: 100px;
}
