.calendar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calendar-submit {
  margin-top: 20px;
}

#edit_calendar {
  display: none;
}

.stitch {
  color: #fff;
  padding: 10px, 20px;
  font-size: 22px;
  background: #FEA993;
  border: 2px dashed #F7F9CC;
  border-radius: 10px;
  box-shadow: 0 0 0 7px #FEA993;
}