.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-40 {
  margin-top: 40px;
}

#edit_calendar {
  display: none;
}

.stitch {
  color: #fff;
  padding: 10px, 20px;
  font-size: 22px;
  background: #fea993;
  border: 2px dashed #f7f9cc;
  border-radius: 10px;
  box-shadow: 0 0 0 7px #fea993;
}

.calendar-button {
  background: cornflowerblue !important;
  color: white !important;
  border-radius: 15px !important;
}
