.format-width {
  width: clamp(300px, 65%, 450px) !important ;
}

/* スマホ調整 */
@media (max-width: 767px) {
  .osare-table thead th,
  .osare-table tbody th {
    padding: 0;
  }
}
// 連絡帳のindexページのボタン
.btn-third {
  width: 33.33333%;
  /* 未対応ブラウザ用 */
  width: -webkit-calc(100% / 3);
  /* ベンダープレフィックス */
  width: calc(100% / 3);
}
.notes-index-btn {
  color: #333 !important;
  width: clamp(95px, 31%, 145px) !important;
  border-radius: 2px;
}

.pagination > li > a {
  border: none !important; /*枠線をなくす*/
  color: #696969 !important; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff !important; /*背景の色を変える*/
  border-radius: 30px !important; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 30px !important ; /*角を丸くする*/
}
