.format-width {
  width: clamp(300px, 65%, 450px) !important ;
}

@media (max-width: 767px) {
  .osare-table thead th,
  .osare-table tbody th {
    padding: 0;
  }
}

.btn-third {
  width: 33.33333%;

  width: -webkit-calc(100% / 3);

  width: calc(100% / 3);
}
.notes-index-btn {
  color: #333 !important;
  width: clamp(95px, 31%, 145px) !important;
  border-radius: 2px;
}

.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none !important;
  color: #696969 !important;
}

.pagination > .active > a {
  background: #93c9ff !important;
  border-radius: 30px !important;
}

.pagination > li > a:hover {
  border-radius: 30px !important ;
}

.pagination > li > a {
  border: none !important;
  color: #696969 !important;
  width: 36px;
  text-align: center;
}

.pagination > .active > a {
  background: #d6ebff !important;
  border-radius: 50% !important;
}

.pagination > li > a:hover {
  border-radius: 50% !important;
}
