.format-width {
  width: clamp(300px, 65%, 450px) !important ;
}

/* スマホ調整 */
@media (max-width: 767px) {
  .osare-table thead th,
  .osare-table tbody th {
    padding: 0;
  }
}

/*（共通）　項目の多いテーブルの幅を調整*/
@media (max-width: 767px) {
  .col6t th,
  .col6t td {
    font-size: 0.4em;
    padding: 10px 0px;
  }

  .col5t th,
  .col5t td {
    font-size: 0.5em;
    padding: 10px 0px;
  }

  .col4t th,
  .col4t td {
    font-size: 0.7em;
    padding: 10px 5px;
  }

  .col3t th,
  .col3t td {
    font-size: 0.8em;
    padding: 10px 10px;
  }
}
.table th,
.table td {
  vertical-align: middle !important;
}
