<footer>
  <div class="box14 d-flex justify-content-center">
    <p class="mx-2">2020 All right reserved.</p>
    <div class="git-icon">
      <a href="https://github.com/yasu0408/houday_web_note.git"><span class="fab fa-github text-dark"></span></a>
    </div>
  </div>
</footer>
