<div class="footer-menus d-flex justify-content-center align-items-center font font-size mt-4">
  <%= button_to "ホーム",{controller: 'homes', action: 'index'},{method: :get, class: "home-btn py-3 px-2"} %>
  <%= button_to "もどる", :back, {method: :get, class: "back-btn py-3 px-2"} %>
  <button type="button" class="how-to-btn py-3 px-2 under" data-toggle="modal" data-target="#exampleModalCenter">
    使い方
  </button>
  <%= render "modals/#{controller_name}-#{action_name}-modal" %>
</div>
